
<form method="post">
        <label for="username" data-th-text="#{login.user}">Username:</label>
        <input id="username" type='text' name='j_username' class="form-control" placeholder="username"/>
        <label for="password" data-th-text="#{login.password}">Password:</label>
        <input id="password" type='password' name='j_password' class="form-control" placeholder="password"/>

    <button type="submit" data-th-text="#{login.submit}" class="btn btn-primary btn-block">Login</button>
</form>
